/* Opmaak van de body */
body {
    background-color: #ff6a00;
}

/* Opmaak van alle h1 tags (kopteksten) */
h1 
{
    /* Lettertype */
    font-family: Arial, Helvetica, sans-serif : font-family;
    /* Schuingedrukt */
    font-style: italic;
    /* Achtergrondkleur blauw (RGB hexadecimale aanduiding) */
    background-color: #0099FF;
    /* Streep onder de tekst */
    border-bottom-width: 2px;
    /* Normale streep onder de tekst */
    border-bottom-style: solid;
    /* Kleur van de streep donker blauw */
    border-bottom-color: #0000CC;
    /* De tekst vanuit links 15 pixels inspringen */
    padding-left: 15px;
}
