body    {
    margin: 0;
    padding: 0;
    background-color: #191919;
    font-family: "ClearSansRegular", Helvetica, Arial, sans-serif;
}

#menuFixed   {
    position: fixed;
    height: 50px;
    background-color: black;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#menuFixed ul li a  {
    text-decoration: none;
    color: grey;
}

#menuFixed ul li a:hover  {
    color: white;
}

#menuFixed ul    {
    margin: 10px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

#menu   {
    position: relative;
    height: 25px;
    background-color: black;
    width: 100%;
    z-index: 999;
    top: 50px;
    border-top: 1px solid #202020;
}

#menu ul    {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

#menu ul li   {
    color: grey;
    display: inline-block;
}

#menu ul li a  {
    text-decoration: none;
    color: grey;
}

#menu ul li a:hover  {
    color: white;
}

#header {
    height: 687px;
    background-color: #444042;
    position: relative;
    top: 50px;
    overflow:  hidden;
}

#header img {
    bottom: 100px;
    position: relative;
    overflow:  hidden;
}

.contentWhite    {
    background-color: white;
    height: 750px;
    position: relative;
    top: 50px;
    color: #444042;
}

.contentDark    {
    background-color: #191919;
    height: 750px;
    position: relative;
    top: 50px;
    color: #fff;
}

#content    {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#content    h1  {
    margin: 0;
    top: 20px;
    position: relative;
}

.image  {
    width: 25%;
    margin: 250px 50px 0px 50px;
    position: relative;
    border-radius: 12px;
}

.image:hover  {
    opacity: 0.7;
}

#footer {
    height: 500px;
    background-color: #191919;
    color: white;
    top: 50px;
    position: relative;
}
