<html>
	<head>
		<title> 
			
		</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="wrapper">
            <div id="header">
                <h1>HEADER</h1>
            </div>            <div id="menu">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
            <div id="content">
                 <div id="login">
                     <div id="orangebar">
                        
                    </div>
                    <div id="greybar">
                        <h2>Login Menu</h1>
                    </div>
                    <div id="loginContent">
                         <ul>
                            <li>Login</li>
                            <li>Registreren</li>
                            <li>wachtwoord vergeten</li>
                        </ul>
                    </div>
                 </div>
            </div>
        </div>
	</body>
</html>