body    {
    background-color: black;
}

#content    {
    width: 1200px;
    margin-left: auto ;
    margin-right: auto ;
    position: relative;
    text-align: center;
    
}

#vraag  {
    height: 775px;
    background-color: #3498db;
}

#ja {
    background-color: #40d47e;
    height: 75px;
}

#nee    {
    background-color: #40d47e;
    height: 75px;
}

#leeg   {
    height: 1500px;
    
}

#goed {
    background-color: #40d47e;
    height: 1500px;
}

#fout {
    background-color: #c0392b;
    height: 1500px;
}

a    {
    text-decoration: none;
}