html, body {
margin:0;
padding:0;

}

body    {
    background-color: #5B3E50;
    color: #5B3E50;
    font-family: 'Open Sans', sans-serif;
}

#wrapper    {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: 75px;
}

#menu   {
    background-color: white;
    height: 75px;
    width: 60%;
    position: fixed;
    left: 20%;
    z-index: 2;
}

#menu ul    {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    top: 25%;
    position: relative;
    
}

#menu ul li {
    display: inline;
    margin: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

#menu ul li a:hover {
    opacity: 1;
    
}

#menu ul li a {
    text-decoration: none;   
    color: #5B3E50; 
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    opacity: 0.8;
}



#header {
    
}

#header img {
    width: 100%;
}

#content    {
    background-color: white;
    height: 100%;
    color: #5B3E50;
    text-align: center;
    font-size: 16px;
    padding: 50px 100px 50px 100px;
}

#leden  {
    width: 100%;
    position: relative;
    height: 200px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
}

.lid   {
    border-radius: 50%;
    background-color: white;
    width: 175px;
    height: 175px;
    position: relative;
    display: inline-block;
    padding:  0px 10px 0px 10px;
}

.lid img    {
    border-radius: 50%;
    background-color: white;
    width: 175px;
    height: 175px;
    position: relative;
}

.lid img:hover    {
    opacity: 0.8;
}

h1  {
    color: #5B3E50;
    font-family: "Tahoma";
    margin:0;
    padding:0;
}

.bold   {
    font-weight: bold;
}

#footer {
    background-color: white;
    height: 25px;
    width: 100%;
    position: relative;
    z-index: 2;
    padding:  0;
    margin: 0;
    text-align: center;
}