body{
	
    font-family: Verdana; 
	font-size: 12px;
	background-color: #e5e2c1;
	background-image: url("../images/wheat.jpg");
	background-attachment: fixed;
	margin:0;
	padding:0;
}
#helepagina	{
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
	height:3000px;
	  /* Fallback for web browsers that don't support RGBa */
    background-color: white;
    /* RGBa with 0.85 opacity */
    background-color: rgba(255, 255, 255, 0.85);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	z-index: 1;
	
}

#helepaginaSitemap	{
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
	height:1080px;
	  /* Fallback for web browsers that don't support RGBa */
    background-color: white;
    /* RGBa with 0.85 opacity */
    background-color: rgba(255, 255, 255, 0.85);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	z-index: 1;
	
}

#helepaginaIndex	{
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
	height: 3000px;
	  /* Fallback for web browsers that don't support RGBa */
    background-color: white;
    /* RGBa with 0.85 opacity */
    background-color: rgba(255, 255, 255, 0.85);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
}
#content{
	width: 100%;
	margin-top:-8px;
	position: relative;
	z-index: 2;
}
#menu	{
	position: relative;
	margin-left: auto;
    margin-right: auto;
	width: 60%;
	font-size: 16px;
	
}
#menu ul {  
    list-style-type: none;  
}  
#menu ul li {  
    display: inline;  
    margin: 0;  
}  


#menu ul li a {  
    padding: 16px;
    background-color: #84978F;  
    font-family: Verdana;  
    color: white;  
	text-decoration: none;

}  
#menu ul li a:hover {  
    /* Nieuw */  
    background-color: #527578;  
}  
#text1{
	position: relative;
	top: 50px;
	left: 600px;
}
#text2{
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
	width: 50%
}
#formbestel{
    position: absolute;
    top: 100px;
    left: 100px;
}
#logo1{
    position: relative;
    top: 0px;
    left: 0px;
}
#logo{
    position: relative;
    bottom: 100px;
    left: 150px;
}
#logos	{
	position: relative;
	width: 50%;
	height: 150px;
	margin-left: auto;
    margin-right: auto;
	top: 7px;
}
#intro{
	width: 400px;
	height: 300px;
	background-color: #0099FF;
	border: 1px solid black;
	position: absolute;
	top: 200px;
	left: 550px;
}
#form2{
    position: absolute;
    top: 250px;
    left: 550px;
}
#winkelmandje{
    position: absolute;
    top: 500px;
    left: 56px;
    width: 500px;
}
#Producten	{
	width: 1000px;
	position: relative;
	height: 420px;
	top: 100px;
	margin-left: auto;
    margin-right: auto;

}
#rijProducten1	{
	width: 1000px;
	position: relative;
	height: 420px;
	top: 100px;
	margin-left: auto;
    margin-right: auto;

}
#rijProducten2	{
	width: 1000px;
	position: relative;
	height: 420px;
	top: 150px;
	margin-left: auto;
    margin-right: auto;

}
#rijProducten3	{
	width: 1000px;
	position: relative;
	height: 420px;
	top: 200px;
	margin-left: auto;
    margin-right: auto;

}
#meel{
	width: 250px;
	height: 420px;
	background-color: #e5e2c1;
	border: 1px solid #84978F;
	position: absolute;
	left: 200px;
}
#gist{
	width: 250px;
	height: 420px;
	background-color: #e5e2c1;
	border: 1px solid #84978F;
	position: relative;
	float:right;
	right: 200px;
	
}
#zoetwaren{
	width: 250px;
	height: 712px;
	background-color: #e5e2c1;
	border: 1px solid #84978F;
	position: relative;
	float:left;
	left: 200px;

}
#bakblikken{
	width: 250px;
	height: 710px;
	background-color: #e5e2c1;
	border: 1px solid #84978F;
	position: relative;
	float:right;
	left: 50px;
	
}
#springvormen{
	height: 710px;
	background-color: #e5e2c1;
	border: 1px solid #84978F;
	position: relative;
	float:left;
	right: 50px;
}
#verpakkingsmiddelen{
	height: 1400px;
	width: 250px;
	background-color: #e5e2c1;
	border: 1px solid #84978F;
	position: relative;
	float:right;
	right: 200px;
	background-attachment:100px;
}
#sitemap{
	position: relative;
	top:300px;
	margin-left: auto;
    margin-right: 0;
	left: -220px;
	width: 50%;
	height: 500px;
	color: white;
}

#sitemapHome	{
	width: 80px;
	height: 40px;
	position: absolute;
	left:40%;
	right:60%;
	cursor:pointer;
	color: white;
	bottom: 460px;
}
#sitemapProducten	{
	width: 84px;
	height: 50px;
	position: absolute;
	left:50%;
	right:50%;
	left: 140px;
	cursor:pointer;
	color: white;
	bottom: 345px;
}
#sitemapBestellen	{
	width: 84px;
	height: 50px;
	left:40%;
	right:60%;
	position: absolute;
	left: 5px;
	cursor:pointer;
	color: white;
	bottom: 345px;
}
#sitemapSitemap	{
	width: 84px;
	height: 50px;
	left:50%;
	right:50%;
	position: absolute;
	left: 275px;
	cursor:pointer;
	color: white;
	bottom: 345px;
}
#sitemapContact	{
	width: 84px;
	height: 50px;
	position: absolute;
	left:50%;
	right:50%;
	left: 160px;
	cursor:pointer;
	color: white;
	bottom: 345px;
	left: 410px;
}

#contact{
	position: relative;
	top:100px;
	margin-left: auto;
    margin-right: auto;
	width: 50%
}

#Bestelformulier	{
	top: 200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: left;
}

#kosten	{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#subtotaalEx	{
	position: relative;
	background-color: #e5e2c1;
	height: 22px;
	font-size: 18px;
	width:100%
}
#subtotaalIn	{
	position: relative;
	background-color: #e5e2c1;
	height: 22px;
	font-size: 18px;
	width:100%;
	top: 10px;
}

#resultaat	{
	background-color: #e5e2c1;
}

#popupResultaat	{
	position: fixed;
	background-color: #e5e2c1;
	height: 525px ;
	font-size: 17px;
	width:1000px;
	top: 10px;
	visibility: hidden;
	z-index: 3;
	left: 50%;
	right: 50%;
	margin-left: -500px;
	margin-top: 250px;
	line-height:30px;
}

#closeButton	{
	position: relative;
	float: right;
	background-color: white;
	width: 25px;
	height:25px;
	cursor:pointer;
	background-image: url("../images/close.jpg");
}

#popupTopBorder	{
	height:25px;
	width:100%;
	background-color:#84978F;
}

#popupContent	{
	overflow-y: scroll;
	height: 500px;
	top:25px;
}

#popupWrapper	{
	width: 100%;
}

#lettergroottes	{
	position: absolute;
	top:2980px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.textButton	{
	width: 50px;
}